*{
    font-family: 'Arial Narrow Bold', sans-serif;
}
.flex-item{
        text-align: center;
    text-align: center;
    padding: 5px;
    color: whitesmoke;
    
}

.box5{
    background-color:darkolivegreen ;
    color:whitesmoke;
    justify-content: space-between;
    padding: 20px;
    font-size: 25px;
}
h2{
    text-align: center;
}
.flex-con2{
    display: flex;
    background-color: whitesmoke;
    padding: 20px;
    justify-content: space-around;
    flex-direction: row;
    text-align: center;
}

@media (min-width: 360px){}
    .flex-con2 {
        display: flex;
        background-color: whitesmoke;
        padding: 10px;
        justify-content: space-between;
        flex-direction: row
}

.flex-con {
    display: flex;
    background-color:gray;
    padding: 5px;
    justify-content: space-around;
    flex-direction: row;
    text-align: center;
    align-self: center;
    font-size: 25px;

}

@media (min-width: 360px){
    .flex-con {
        display: flex;
        background-color:darkgreen;
        padding: 5px;
        justify-content: space-around;
        flex-direction: row;
        text-align: center;
        align-self: center;
    
    }
    
}

@media (max-width:1000px){
    .flex-con {
        display: flex;
        background-color:darkgreen;
        padding: 5px;
        justify-content: space-around;
        flex-direction: column;
        text-align: center;
        align-self: center;
    
    }

}

@media(max-width: 1000px){
    .flex-con2{
        display: flex;
        background-color: whitesmoke;
        padding: 10px;
        justify-content: space-between;
        flex-direction: column;
        text-align: center;
    }
}
.box6{
    text-align: left;
    color: black;
    order: 1;
    background-color:whitesmoke;
    border: 10px solid darkgreen;
    padding: 5px;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    
}
.box7{
    text-align: left;
    background-color:white;
    color: black;
    order: 2;
    background-color: whitesmoke;
    border: 10px solid darkgreen;
    padding: 5px;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;  
}
.box8{
    text-align: left;
    background-color: white;
    order: 3;
    background-color:whitesmoke;
    border: 10px solid darkgreen;
    padding: 5px;
    color:black;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
}

footer {
    font-family:Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    text-align: center;
  
}


